body {
	background-color: #222;
}
#wtf {
	position: absolute;
	top: 0.375em;
}
h1 {
	position: relative;
	width: 100%;
	margin-top: 0.625em;
	text-align: center;
	color: #fff;
	font: 1.5em;
	font-family: Verdana;
}
h2 {
	position: relative;
	width: 100%;
	left: 0;
	top: -0.625em;
	text-align: center;
	color: #bbb;
	font-size: 1em;
	font-family: Verdana;
}
a {
	color: #eee;
	text-decoration: none;
}
.tooltip {
    display: none;
    position: absolute;
    color: #fff;
    background: #666;
    padding: 0.375em;
}
a:hover span {
    display: block;
    text-align: center;
}
.tooltip:hover {
	color: #ffffcc;
}
main {
	width: 70%;
	padding: 2.5em 2.5em 2.5em 2.5em;
	background-color: #eee;
	position: relative;
	margin-top: 0.375em;
	margin-left: auto;
    margin-right: auto;
	transition: background-color .2s;
}
#explain_intro {
	position: relative;
	margin-top: 0.5em;
	text-align: center;
	display: none;
}
#written {
	background-color: lightyellow;
	display: none;
}
#writing {
	background-color: #fff;
}
#written, #writing {
	font: 150% Monospace;
	padding: 0.25em 0.625em;
	text-align: center;
	contenteditable: true;
	spellcheck: true;
}
#reset {
	margin-top: 0.5em;
	width: 100%;
	background-color: #666;
	color: #eee;
	font: 1.25em Verdana;
	border: none;
	padding: 0.625em 0 0.625em 0;
	display: none;
}
#info {
	font: 1.25em Verdana;
	margin-top: 1.25em;
}
#info > div {
	display: flex;
  	justify-content: center;
}
#info > div > span {
	text-align: right;
}
#info > div > span:first-child {
	text-align: left;
	margin-right: 1.25em;
}